.jumbotron img {
    width: 300px;
    border: 10px solid chocolate;
}

.jumbotron a.bg-dark
{
    background-color: rgb(255, 0, 55);
}

.about a.bg-dark
{
    background-color: rgb(206, 206, 206);
    border : 10px solid rgb(206, 206, 206);
    
}
.about hr
{
    width: inherit;
    border-top: 10px solid  #666;
}

section
{
    min-height: 600px;
}